<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sincava.tech.android">

    <!-- permission -->
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:label="Allow device to vibrate with notifications" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:label="Schedule repeating transactions when device is rebooted" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:label="Export and backup to 3rd party hosting services" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaitaoTheme.NoActionBar">

        <activity android:name="com.sincava.tech.android.framework.ui.account.AccountsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- receiver -->
        <receiver
            android:name=".framework.receiver.BootReceiver"
            android:exported="false"
            android:label="Schedules regular runs for the scheduled events service">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
